{{ form_start(form, {'attr': {'class': 'mt-4'}}) }}
    <div class="mb-3">
        {{ form_label(form.libeller, 'Nom De La Categorie', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.libeller, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.slag, 'Slug', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.slag, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.description, 'Description De La Categorie', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}